[Unit]
Description=Timer that runs imagebuilder for {{ item.key }}

[Timer]
OnCalendar={{ item.value.service.timer_calendar }}
Unit=imagebuilder-{{ item.value.service.name }}.service

[Install]
WantedBy=timers.target