[Unit]
Description=Imagebuilder for {{ item.key }}
After=syslog.target network.target auditd.service

[Service]
Type=oneshot
User=root
Environment={{ item.value.service.environment }}
ExecStart=/bin/podman run --rm --network host \
 -v /home/{{ imagebuilder_user_to_execute }}/imagebuilder/tmp:/app/tmp:Z \
 -v /home/{{ imagebuilder_user_to_execute }}/imagebuilder/checksums:/app/checksums:Z \
 -v /home/{{ imagebuilder_user_to_execute }}/{{ imagebuilder_extra_dir }}/{{ item.value.service.input_file }}:/app/input.json:Z \
 -v /home/{{ imagebuilder_user_to_execute }}/{{ imagebuilder_extra_dir }}/log/{{ item.value.service.log_file }}:/app/{{ item.key }}_log.json:Z \
 -v /home/{{ imagebuilder_user_to_execute }}/.config/clouds.yaml:/app/clouds.yaml:Z \
 -e IMAGEBUILDER_CLOUD={{ item.key }} \
 -e IMAGEBUILDER_DISABLE_PINGING=${IMAGEBUILDER_DISABLE_PINGING} \
 -e IMAGEBUILDER_NETWORK={{ item.value.service.imagebuilder_network }} \
 {{ imagebuilder_container_name }}
