[Unit]
Description=Start imagebuilder for {{ item.imagebuilder_cloud }}
After=syslog.target network.target auditd.service

[Service]
Type=oneshot
User=root
ExecStart=/bin/podman run --rm --network host \
 -v /home/almalinux/imagebuilder/tmp:/app/tmp:Z \
 -v /home/almalinux/imagebuilder/checksums:/app/checksums:Z \
 -v /home/almalinux/imagebuilder-helpers/input.json:/app/input.json:Z \
 -v /home/almalinux/imagebuilder-helpers/log.log:/app/{{ item.imagebuilder_cloud }}.log:Z \
 -v /etc/openstack/clouds.yaml:/app/clouds.yaml:Z \
 -e IMAGEBUILDER_CLOUD={{ item.imagebuilder_cloud }} \
 -e IMAGEBUILDER_NETWORK={{ item.imagebuilder_network }} \
 imagebuilder