command[{{ item.value.service.nagios_service_name }}]=IMAGEBUILDER_CHECK_CLOUD="{{ item.key }}" IMAGEBUILDER_CHECK_FILE="/home/{{ imagebuilder_user_to_execute }}/{{ imagebuilder_extra_dir }}/{{ item.value.service.log_file }}" IMAGEBUILDER_INPUT_FILE="/home/{{ imagebuilder_user_to_execute }}/{{ imagebuilder_extra_dir }}/input.json" /bin/python3 /home/{{ imagebuilder_user_to_execute }}/{{ imagebuilder_directory }}/imagebuilder_check/check.py