---

- name: Install and deploy imagebuilder on mycloud
  hosts: mycloud
  gather_facts: true
  become: true

  roles:
     - { role: ansible-role-nrpe }
     - { role: ansible-role-nrpe-plugins }

  tasks:
    - name: Install and deploy imagebuilder
      import_role:
        name: ansible-role-imagebuilder


...